<h1>Landjugend-Organisator</h1>
<ul>
  <li><a routerLink="/">Start</a></li>
  <li><a routerLink="/Helfer">Helfer-Liste</a></li>
  <!-- <li><a routerLink="/helfer/1">Helfer One</a></li> -->
</ul>
<div class="demo-ui-container" [class.demo-ui-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="demo-ui-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <!-- https://fonts.google.com/icons -->
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="demo-ui-app-name">Demo UI</h1>
  </mat-toolbar>

  <mat-sidenav-container class="demo-ui-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <!-- position="end" -->
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      opened="true" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="/">Start</a>
        <a mat-list-item routerLink="/product">Products</a>
        <a mat-list-item routerLink="/product/1">Product one</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="outlet">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<router-outlet></router-outlet>